:root{
    --primary-background: #b958d4;
    --secondry-color: #fafafa;

    --hover-background:#b958d4c9
}
.rec.rec-arrow {
    background-color:var(--primary-background);
    color: var(--secondry-color);
}
.rec.rec-arrow:hover{
    background-color:var(--hover-background)!important;
}